<ol class="nav">
	<li class="nav-form">入力</li>
	<li class="arrow"><i class="fas fa-arrow-right"></i></li>
	<li class="nav-form">確認</li>
	<li class="arrow"><i class="fas fa-arrow-right"></i></li>
	<li class="nav-form current">完了</li>
</ol>

<h4 class="text-center mt-5">ご注文ありがとうございました！</h4>