<h4 class="text-center">注文フォーム</h4>
<ol class="nav">
	<li class="nav-form ">入力</li>
	<li class="nav-form  mx-5">確認</li>
	<li class="nav-form current">完了</li>
</ol>
<h4 class="text-center mt-5">ご注文ありがとうございました！</h4>