<div class="row">
  <div class="col m-3">
    <h3><mark>会員一覧</mark></h3>
  </div>
  <table class="table table-inverse">
    <thead class="table-color">
      <tr>
        <th scope="col">会員ID</th>
        <th scope="col">氏名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.full_name, admin_customer_path(customer), class: "link" %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_quited == false %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-secondary">退会</div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @customers %>