<div class="row">
  <div class="col m-3">
    <h3><mark>ジャンル編集</mark></h3>
    <div class="mt-5">
      <%= form_with model:@genre,url:"/admin/genres/#{@genre.id}",local:true do |f| %>
        <%= f.label:"ジャンル名" %>
        <%= f.text_field:name %>
        <%= f.submit "変更を保存",class:"btn register_button motion ml-5" %>
      <% end %>
    </div>
  </div>
</div>